
body {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
}

h1 {
    color: #88B04B;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}

i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}

.card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
}

.profile-card {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    width: 300px;
    text-align: left;
}

.profile-card h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.profile-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.profile-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-card li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.profile-card span {
    font-weight: bold;
}